$border-color: #f0f0f0;

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  @extend .flex;
  position: fixed;
  width: 100%;
  height: 54px;
  z-index: 100;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.homeInitialState {
  background-color: #333; /* Initial background for home page */
  .headerBox h1,
  .navLink {
    color: white; /* Initial text color for home page */
  }
  .navLink.active {
    color: white; /* Active link color for home page */
    border-bottom: 2px solid white; /* Underline for active link */
  }
}

.otherPageState {
  background-color: #fff; /* Default background for other pages */
  .headerBox h1 {
    color: #3c3c3c; /* Default text color for other pages */
  }
  .navLink {
    color: #444; /* Default text color for other pages */
  }
  .navLink.active {
    color: #1f1282; /* Active link color for other pages */
    border-bottom: 2px solid #1f1282; /* Underline for active link */
  }
}

.headerBox {
  @extend .flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1000px;
  height: 30px;
  h1 {
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    line-height: 19px;
    transition: color 0.3s ease; /* Smooth transition */
  }
}

.title {
  @extend .flex;
}

.homeLink {
  text-decoration: none;
  color: inherit;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLink {
  font-size: 15px;
  font-weight: 400;
  color: white; /* Initial text color */
  padding: 12px 10px;
  cursor: pointer;
  text-decoration: none; /* Remove underline from links */
  transition: color 0.3s ease, font-weight 0.2s ease; /* Smooth transition */

  &:hover {
    color: #eee; /* Lighter white on hover */
  }
}

.navLink.active {
  color: white; /* Active link color */
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid white; /* Underline for active link */
}

.scrolled {
  background-color: #fff; /* White background on scroll */
  border-bottom: 1px solid $border-color; /* Add border on scroll */

  .headerBox h1 {
    color: #3c3c3c; /* Dark text color on scroll */
  }
  .navLink {
    color: #444; /* Dark text color on scroll */
  }
  .navLink.active {
    color: #1f1282; /* Active link color on scroll */
    border-bottom: 2px solid #1f1282; /* Active link border on scroll */
  }
}
