.filterContainer {
  position: absolute;
  left: 0;
  width: 200px;
  padding: 20px;
  margin-left: 20px;
  @media (max-width: 1015px) {
    display: none;
  }
}

.mainFilterTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.filterGroup {
  margin-bottom: 24px;
}

.filterTitle {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
}

.filterItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #666;
  font-size: 14px;
}

.label {
  margin-left: 7px;
  font-size: 14px;
  cursor: pointer;
}

.icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.filterBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;
}
.filterModal {
  position: relative;
  width: 220px;
  height: 100%;
  max-width: 600px;
  background-color: white;
  padding: 25px;
  border-radius: 0 8px 8px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  .mainFilterTitle {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .filterGroup {
    margin-bottom: 30px;
  }

  .filterTitle {
    margin-bottom: 15px;
    font-size: 16px;
  }

  .filterItem {
    margin-bottom: 15px;
    font-size: 16px;
  }

  .label {
    margin-left: 10px;
    font-size: 16px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .radioContainer {
    margin-bottom: 15px;
    margin-left: 24px;
    font-size: 16px;
  }

  .radioLabel {
    margin-left: 10px;
    font-size: 16px;
  }
}

.filterModalTitle {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}

.filterModalItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #666;
}

.modalLabel {
  margin-left: 7px;
  font-size: 17px;
  cursor: pointer;
}

.modalIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.xButton {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.radioContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 21px;
  color: #666;
  font-size: 14px;
}

.radioInput {
  display: none;
}

.radioLabel {
  margin-left: 7px;
  font-size: 14px;
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
