html,
body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh; /* Ensure body can expand */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
