$border-color: #f0f0f0;

.board {
  display: flex;
  flex-direction: column;
  width: 62%;
  min-width: 400px;
  max-width: 700px;
  margin: 0 auto;
}

.materialContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.materialHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  color: #666;
  font-weight: 600;
  border-bottom: 1px solid $border-color;
}

.materialColumn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid $border-color;
  padding: 10px 0;
  font-weight: 600;
  &:last-child {
    border-bottom: none;
  }
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  flex: 1;
}

.image {
  width: 50px;
  height: 50px;
  flex: 0 0 60px;
}

.totalGold {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 0;
  height: 50px;
  padding: 10px 0;
  font-weight: bold;
  background-color: #fff;
  border-top: 1px solid $border-color;
}

.owned {
  width: 64px;
  height: 22px;
  padding: 2px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.materialPriceCell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  flex: 1;
}

.peacePrice {
  font-size: 14px;
  font-weight: 500;
}

.filter {
  cursor: pointer;
  @media (min-width: 751px) {
    display: none;
  }
}
